extend layout
block content
    h1  States
    br
    a(href='/state/1') Arunanchal Pradesh
    br
    a(href='/state/2') Andhra Pradesh
    br
    a(href='/state/4') Assam
    br
    a(href='/state/5') Bihar
    br
    a(href='/state/8') Chattisgarh
    br
    a(href='/state/3') Goa
    br
    a(href='/state/10') Gujarat
    br
    a(href='/state/11') Haryana
    br
    a(href='/state/12') Himachal Pradesh
    br
    a(href='/state/13') Jammu and Kashmir
    br
    a(href='/state/14') Jharkhand
    br
    a(href='/state/15') Karnataka
    br
    a(href='/state/16') Kerala
    br
    a(href='/state/17') MAdhya Pradesh
    br
    a(href='/state/18') Maharashtra
    br
    a(href='/state/19') Manipur
    br
    a(href='/state/20') Meghalaya
    br
    a(href='/state/21') Mizoram
    br
    a(href='/state/22') Nagaland
    br
    a(href='/state/23') Odisha
    br
    a(href='/state/24') Punjab
    br
    a(href='/state/25') Rajasthan
    br
    a(href='/state/26') Sikkim
    br
    a(href='/state/27') Tamil Nadu
    br
    a(href='/state/28') Tripura
    br
    a(href='/state/29') Uttar Pradesh
    br
    a(href='/state/30') Uttarakhand
    br
    a(href='/state/31') West Bengal
    br
    a(href='/state/32') Chandigarh
    br
    a(href='/state/33') Andaman and Nicobar Islands
    br
    a(href='/state/34') Dadra and Nagar Havelli
    br
    a(href='/state/35') Daman and Diu
    br
    a(href='/state/36') NCT of Delhi
    br
    a(href='/state/37') Lakshadweep
    br
    a(href='/state/38') Puducherry
    br
    a(href='/state/29') Uttar Pradesh
    
    
