extend layout
block content
        form(name='login', action='http://127.0.0.1:1212/login', method='post')
            div
              label Username:
                input(type='text', name='username')
            div
              label Password:
                input(type='password', name='password')
            div
              input(type='submit', class='btn btn-primary', value='Login')
